<div class="top-area show-onload">
    <div class="bg-holder full">

        <div class="bg-mask"></div>
        <div class="bg-img" style="background-image: url(/assets/img/aglio-video.png);"></div>
        <video class="bg-video hidden-sm hidden-xs" preload="auto" autoplay="true" loop="loop" muted="muted"
               poster="/assets/img/aglio1.png">
            <source src="/assets/media/aglio1.webm" type="video/webm"/>
            <source src="/assets/media/aglio1.mp4" type="video/mp4"/>
        </video>


        <div class="bg-content">

            <div class="container">
                <h1 class="page-title">Forgot your Password?</h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <form class="mt30" name="forgotPasswordForm" ng-submit="submitEmail()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-icon-left">
                                        <i class="fa fa-envelope input-icon input-icon-show resetTop"></i>
                                        <input class="form-control" placeholder="Insert your Email" type="email" ng-model="forgotPassword.email" required/>
                                    </div>
                                </div>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Continue"/>
                        </form>
                    </div>

                </div>
                <div class="gap"></div>
            </div>

        </div>
    </div>
</div>