<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="401" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="405" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="406" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="412" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="501" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <system.web>

    <compilation debug="true" />
  </system.web>

	<appSettings>
    <!--WebSite Parameters-->
    <add key="WebUrl" value="http://localhost:21275"/>
    <!--<add key="WebUrl" value="http://www.mycookin.com"/>-->
    
		<add key="BoardResultsNumber" value="10" />
		<add key="UserFindResultsNumber" value="5" />
    <add key="NotificationsRead" value="10" />         <!--Notifications already read to show if we have not notifications to read-->
    <add key="MaxNotificationsNumber" value="50" />    <!--Max number of notifications returned by SP in case of "Get All Notifications"-->
    <add key="UserLikesResultsNumber" value="10"/>

    <!--Sender Email Parameters-->
    <add key="EmailFromProfileUser" value="noreply@mycookin.com"/>
    <add key="EmailFromRecipesAlert" value="noreply@mycookin.com"/>
    <add key="EmailFromLog" value="noreply@mycookin.com"/>
    <add key="EmailToLog" value="alessio@mycookin.com"/>
    <!-- Email will receive Alert Log -->

    <!-- Common Email Parameters -->
    <!--<add key="ClientSmtp" value="smtp.gmail.com"/>
		<add key="ClientSmtpPort" value="587"/>-->
    <add key="EnableSSL" value="true"/>
    <!--<add key="SmtpServerUsn" value="onehourweb@gmail.com"/>
		<add key="SmtpServerPsw" value="onehourweb"/>-->
    <add key="ClientSmtp" value="smtp.live.com"/>
    <add key="ClientSmtpPort" value="587"/>
    <add key="SmtpServerUsn" value=""/>
    <add key="SmtpServerPsw" value=""/>
    
    <!-- Routing Name Parameters -->
    <add key="RoutingUser" value="/User/"/>
    <add key="RoutingRecipe1" value="/Recipe/"/>
    <add key="RoutingIngredient1" value="/Ingredient/"/>
    <add key="RoutingRecipeBook1" value="/RecipeBook"/>
    <add key="RoutingRecipe2" value="/Ricetta/"/>
    <add key="RoutingIngredient2" value="/Ingrediente/"/>
    <add key="RoutingRecipeBook2" value="/Ricettario"/>
    <add key="RoutingRecipe3" value="/Receta/"/>
    <add key="RoutingIngredient3" value="/Ingrediente/"/>
    <add key="RoutingRecipeBook3" value="/LibroDeRecetas"/>

    <add key="DateTimeFormat" value="dd/mm/yyyy, HH:MM:ss"/>
    <add key="DateTimeFormatCSharp" value="dd/MM/yyyy, HH:mm:ss"/>
    <add key="DateTimeFormatCSharp_v1" value="dd/MM/yyyy, HH:mm"/>

    <!-- Media Default Image (If image not present) -->
    <add key="RecipePhoto" value="/Images/icon-recipe-big.png"/>
    <add key="ProfileImagePhoto" value="/Images/icon-userNoPic.png"/>
  </appSettings>
	
	<connectionStrings>
    <add name="DBUsersProfileConnectionString" connectionString="Data Source=SQL2012DEV;Initial Catalog=DBUsersProfile;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBErrorsAndMessagesConnectionString" connectionString="Data Source=SQL2012DEV;Initial Catalog=DBErrorsAndMessages;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBRecipesConnectionString" connectionString="Data Source=SQL2012DEV;Initial Catalog=DBRecipes;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBMediaConnectionString" connectionString="Data Source=SQL2012DEV;Initial Catalog=DBMedia;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBAuditConnectionString" connectionString="Data Source=SQL2012DEV;Initial Catalog=DBAudit;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="dbcitiesConnectionString" connectionString="Data Source=SQL2012DEV;Initial Catalog=DBCities;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBUsersBoardConnectionString" connectionString="Data Source=SQL2012DEV;Initial Catalog=DBUsersBoard;Integrated Security=True" providerName="System.Data.SqlClient" />

    <add name="DBStatisticsEntities" connectionString="metadata=res://*/Statistics.Statistics.csdl|res://*/Statistics.Statistics.ssdl|res://*/Statistics.Statistics.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL2012DEV;Initial Catalog=DBStatistics;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DBUsersBoardNotificationsEntities" connectionString="metadata=res://*/UserBoard.Notifications.csdl|res://*/UserBoard.Notifications.ssdl|res://*/UserBoard.Notifications.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL2012DEV;Initial Catalog=DBUsersBoard;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DBUserNotificationsEntity" connectionString="metadata=res://*/User.UserNotifications.csdl|res://*/User.UserNotifications.ssdl|res://*/User.UserNotifications.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2012DEV;initial catalog=DBUsersProfile;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBMessageChatEntity" connectionString="metadata=res://*/Message.Messages.csdl|res://*/Message.Messages.ssdl|res://*/Message.Messages.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2012DEV;initial catalog=DBMessageChat;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContactEntities" connectionString="metadata=res://*/Contact.Contact.csdl|res://*/Contact.Contact.ssdl|res://*/Contact.Contact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2012DEV;initial catalog=DBErrorsAndMessages;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
