<div class="container">
    <h1 class="page-title">Terms And Conditions Of Service</h1>
</div>


<div class="container">

<!--******************************* EN **********************************************-->


<div ng-show="en">
    1 - Application
    <ol type="a">
        <li>
            These Terms and Conditions apply to the provision of all services offered from MyCookin Ltd, a company registered in England and Wales under number 08917887 whose register office is at 24a, Mornington Avenue, London, W14 8UJ. The Terms and Conditions were originally written in English and in case of any conflicts between the English version and any other languages, the English version shall prevail.
            Definitions
        </li>
        <li>
            User – The person accessing to the Network and using its services.
        </li>
        <li>
            We/Us/Our – Mycookin Ltd, as described under Section 1.
        </li>
        <li>
            You/Your/Yours – The User, the person that uses our services and agrees to these Terms and Conditions.
        </li>
        <li>
            Service/Services – Any services, features, tools, contents and other materials contained in the Network.
        </li>
        <li>
            Website/s – www.mycookin.com and all the other domain and subdomain that redirect to it.
        </li>
        <li> Network – The system of people, contents and services that constitutes MyCookin, including all websites and applications.</li>
    </ol>
    <br/>
    2 - Subject
    <ol type="a">
        <li>
        These Terms and Conditions regulate the services supply and the relationship between MyCookin and every users and third parties, including all kinds of use, participation and activity that can be performed through any kinds of device.
        <li>
        By using any tools, services and features of the Network and when you register, you agree that you are 18 or older and accept in full these Terms and Conditions.
        <li>
            MyCookin aims to improve constantly and to offer a wider range of services in the future. Therefore, we may change these Terms and Conditions at any time and for all reasons. Your continued use of the network’s services will constitute acceptance of all changes. We may or may not ask you to acknowledge or accept any changes to the Terms and Conditions.
        </li>
    </ol>
    <br/>
    3 - Network’s contents and intellectual property rights
    <ol type="a">
        <li>
            All Network’s materials, including as examples, Mycookin logo, text, graphics, designs and other files, are the intellectual property of MyCookin or of its licensors. You may use these materials for personal, non-commercial purpose, only disclosing that they are intellectual property of MyCookin. This usage must not misrepresent or defame MyCookin. We may revoke the mentioned usage right at our sole discretion.
        </li>
        <li>
            You may use links to our websites and share its content. This limited right is granted as non-exclusive and subject to our discretionary decisions. The sharing and usage of the content must be fair, honest and in line with our Terms and Conditions, and does not give you any intellectual property rights.
        </li>
        <li>
            It is strictly prohibited to copy or publish the contents of the network, or parts of them, on other websites and other communication and media channels, unless you are explicitly authorised by MyCookin.
        </li>
        <li>
            You can insert new recipes and ingredients and upload new images, and comment and share existing contents. By submitting contents of any kinds you confirm that you are entitled to do that, by being the author or by having acquired concerning copyrights or other intellectual property rights. You are fully responsible to ensure that the information and other contents you upload or submit do not violate any copyrights or other intellectual properties of third parties.
        </li>
        <li>
            The upload and submission of contents of any kind and nature, including but not limited to text, suggestions, pictures, links and videos, involves the transfer free of charge in favour of MyCookin of a right to unrestricted, irrevocable, worldwide, non-exclusive, fully transferable right to use, copy, modify, publish and display any contents submitted on the Network. The user transfers free of charge every right to a commercial use of the content loaded in favour of MyCookin.
        </li>
        <li>
            The publication, modification and other usage of the contents you insert and upload will take place at our sole discretion, and can be removed and edited by us at any time without justification and without prior notice.
        </li>
        <li>
            MyCookin is not responsible for information transmitted or for any infringement of intellectual property rights of third parties or other users made through the portal. MyCookin does not exercise a preventive control on the contents uploaded by users.
        </li>
    </ol>
    <br/>
    4 - Usage of the Network and behaviour of the users
    <ol type="a">
        <li>
            The usage of the website is meant to be personal and you agree that you will NOT do any of the following:
            <ol type="i">
                <li>
                    Register for third parties;
                </li>
                <li>
                    Register more than one time;
                </li>
                <li>
                    Register with fake personal or contact details;
                </li>
                <li>
                    Use the website, the Network and their materials and contents for commercial or advertisement purposes.
                </li>
            </ol>
        </li>
        <li>
            You are personally responsible and liable for all the contents you will insert, upload or otherwise share using the Network’s facilities. It is prohibited to use the websites, the mobile applications and any other Network’s features and tools to do any of the following:
            <ol type="i">
                <li>
                    Insulting, defaming, harassing, or otherwise attacking other users, the network, the network’s, affiliates, any other third parties;
                </li>
                <li>
                    Publishing, sharing or otherwise divulging contents of any nature that can be considered unlawful, racist, sexist, hateful, discriminatory, pornographic, indecent, or otherwise objectionable, or encouraging any of these behaviours or contents;
                </li>
                <li>
                    Spread software viruses, spam, junk contents or encouraging to do so.
                </li>
            </ol>
        </li>
        <li>
            It is expressly forbidden to damage, interfere with or disrupt the access to the Network or its contents, or taking actions that might impair functionalities or interfere with other users' access to the Network or its content.
        </li>
        <li>
            MyCookin will take any actions that will be considered appropriate as consequence to any of the events described under the Sections 18 and 19, including the deletion of the account.
        </li>
        <li>
            If you believe that any materials uploaded by another user on the portal is violating the requirements contained in these Terms and Conditions, please contact us by filling in the form "Contact Us" on the site indicating the type of violation, the username of the person liable as well as the portal area where the offense occurred.
        </li>
    </ol>
    <br/>
    5 - User Registration Procedure
    <ol type="a">
        <li>
            In order to insert new contents on the Network it is required to register to the Network under the conditions described herein. You warrant that the data provided are true, complete and current. You agree, in case of changes, to promptly update the information provided. In any case, MyCookin will not be responsible for non-use of services offered by the Network due to errors or inaccuracies in personal information that you provided us when registering.
        </li>
        <li>
            At the beginning of the registration process, the user must provide the name, surname, date of birth, email address, a username and a password to access the network services. Maintaining the confidentiality of the password is the user's responsibility. Therefore, the user will be liable for any activities associated with their username and password.
        </li>
        <li>
            All information provided by the user may be made accessible to other users, registered or not, of the portal.
        </li>
    </ol>
    <br/>
    6 - Limitation of liability
    <ol type="a">
        <li>
            You acknowledge and expressly agree that the use of the portal takes place at your sole and exclusive discretion. The services offered by the portal are provided "as is" and "as available" at the time of their use.
        </li>
        <li>
            It is expressly excluded the responsibility of MyCookin concerning any warranties, express or implied, including, but not limited to, warranties of merchantability or fitness for a particular purpose or quality of the Network’s contents. MyCookin does not warrant that any contents are accurate or free from error. We will not be liable for reliance placed by anyone on any contents on our Network.
        </li>
        <li>
            MyCookin does not guarantee the good functioning of the websites, applications and services provided. All the services may be interrupted without any notice.
        </li>
        <li>
            Any material downloaded or otherwise obtained from or through the Network is obtained at your sole and absolute discretion and at your own risk. The user is solely and exclusively responsible for any damages to their computer or for any losses of data caused by downloading such contents or materials or from having used the website, applications and related services.
        </li>
        <li>
            MyCookin will not be responsible in any way for any damages of any kind or nature resulting from improper or incorrect use of the websites, applications or services, unauthorized access or alteration of transmissions or user data, statements or conduct of any third parties. MyCookin will not be responsible for the contents submitted and uploaded by users or third parties and for the consequences of users’ conducts and actions. We do not warrant that links contained in our Network are reliable and you can visit any linked websites at your sole discretion and at your own risk.
        </li>
    </ol>
    <br/>
    7 - Indemnification
    <ol type="a">
        <li>
            You accept to indemnify and hold harmless MyCookin from any claims, including reasonable legal fees, that may arise from the content transmitted or sent by any users, from the use of services by the users, from the access to the services by the user, or from a breach of the rules governing their use, as a violation of third party rights.
        </li>
    </ol>
    <br/>
    8 - Privacy
    <ol type="a">
        <li>
            All the information and details you submit or upload on the network are stored and used in compliance with our Privacy Policy. You agree to such use and processing.
        </li>
    </ol>
    <br/>
    9 - Jurisdiction and Disputes
    <ol type="a">
        <li>
            This Terms and Conditions are governed by and written in compliance with the laws of England and Wales. Any disputes related to our services will be subject to the jurisdiction of the courts of England and Wales.
        </li>
    </ol>
</div>

<!--******************************* IT **********************************************-->


<div ng-show="it">
    1 - Application
    <ol type="a">
        <li>
            These Terms and Conditions apply to the provision of all services offered from MyCookin Ltd, a company registered in England and Wales under number 08917887 whose register office is at 24a, Mornington Avenue, London, W14 8UJ. The Terms and Conditions were originally written in English and in case of any conflicts between the English version and any other languages, the English version shall prevail.
            Definitions
        </li>
        <li>
            User – The person accessing to the Network and using its services.
        </li>
        <li>
            We/Us/Our – Mycookin Ltd, as described under Section 1.
        </li>
        <li>
            You/Your/Yours – The User, the person that uses our services and agrees to these Terms and Conditions.
        </li>
        <li>
            Service/Services – Any services, features, tools, contents and other materials contained in the Network.
        </li>
        <li>
            Website/s – www.mycookin.com and all the other domain and subdomain that redirect to it.
        </li>
        <li> Network – The system of people, contents and services that constitutes MyCookin, including all websites and applications.</li>
    </ol>
    <br/>
    2 - Subject
    <ol type="a">
        <li>
        These Terms and Conditions regulate the services supply and the relationship between MyCookin and every users and third parties, including all kinds of use, participation and activity that can be performed through any kinds of device.
        <li>
        By using any tools, services and features of the Network and when you register, you agree that you are 18 or older and accept in full these Terms and Conditions.
        <li>
            MyCookin aims to improve constantly and to offer a wider range of services in the future. Therefore, we may change these Terms and Conditions at any time and for all reasons. Your continued use of the network’s services will constitute acceptance of all changes. We may or may not ask you to acknowledge or accept any changes to the Terms and Conditions.
        </li>
    </ol>
    <br/>
    3 - Network’s contents and intellectual property rights
    <ol type="a">
        <li>
            All Network’s materials, including as examples, Mycookin logo, text, graphics, designs and other files, are the intellectual property of MyCookin or of its licensors. You may use these materials for personal, non-commercial purpose, only disclosing that they are intellectual property of MyCookin. This usage must not misrepresent or defame MyCookin. We may revoke the mentioned usage right at our sole discretion.
        </li>
        <li>
            You may use links to our websites and share its content. This limited right is granted as non-exclusive and subject to our discretionary decisions. The sharing and usage of the content must be fair, honest and in line with our Terms and Conditions, and does not give you any intellectual property rights.
        </li>
        <li>
            It is strictly prohibited to copy or publish the contents of the network, or parts of them, on other websites and other communication and media channels, unless you are explicitly authorised by MyCookin.
        </li>
        <li>
            You can insert new recipes and ingredients and upload new images, and comment and share existing contents. By submitting contents of any kinds you confirm that you are entitled to do that, by being the author or by having acquired concerning copyrights or other intellectual property rights. You are fully responsible to ensure that the information and other contents you upload or submit do not violate any copyrights or other intellectual properties of third parties.
        </li>
        <li>
            The upload and submission of contents of any kind and nature, including but not limited to text, suggestions, pictures, links and videos, involves the transfer free of charge in favour of MyCookin of a right to unrestricted, irrevocable, worldwide, non-exclusive, fully transferable right to use, copy, modify, publish and display any contents submitted on the Network. The user transfers free of charge every right to a commercial use of the content loaded in favour of MyCookin.
        </li>
        <li>
            The publication, modification and other usage of the contents you insert and upload will take place at our sole discretion, and can be removed and edited by us at any time without justification and without prior notice.
        </li>
        <li>
            MyCookin is not responsible for information transmitted or for any infringement of intellectual property rights of third parties or other users made through the portal. MyCookin does not exercise a preventive control on the contents uploaded by users.
        </li>
    </ol>
    <br/>
    4 - Usage of the Network and behaviour of the users
    <ol type="a">
        <li>
            The usage of the website is meant to be personal and you agree that you will NOT do any of the following:
            <ol type="i">
                <li>
                    Register for third parties;
                </li>
                <li>
                    Register more than one time;
                </li>
                <li>
                    Register with fake personal or contact details;
                </li>
                <li>
                    Use the website, the Network and their materials and contents for commercial or advertisement purposes.
                </li>
            </ol>
        </li>
        <li>
            You are personally responsible and liable for all the contents you will insert, upload or otherwise share using the Network’s facilities. It is prohibited to use the websites, the mobile applications and any other Network’s features and tools to do any of the following:
            <ol type="i">
                <li>
                    Insulting, defaming, harassing, or otherwise attacking other users, the network, the network’s, affiliates, any other third parties;
                </li>
                <li>
                    Publishing, sharing or otherwise divulging contents of any nature that can be considered unlawful, racist, sexist, hateful, discriminatory, pornographic, indecent, or otherwise objectionable, or encouraging any of these behaviours or contents;
                </li>
                <li>
                    Spread software viruses, spam, junk contents or encouraging to do so.
                </li>
            </ol>
        </li>
        <li>
            It is expressly forbidden to damage, interfere with or disrupt the access to the Network or its contents, or taking actions that might impair functionalities or interfere with other users' access to the Network or its content.
        </li>
        <li>
            MyCookin will take any actions that will be considered appropriate as consequence to any of the events described under the Sections 18 and 19, including the deletion of the account.
        </li>
        <li>
            If you believe that any materials uploaded by another user on the portal is violating the requirements contained in these Terms and Conditions, please contact us by filling in the form "Contact Us" on the site indicating the type of violation, the username of the person liable as well as the portal area where the offense occurred.
        </li>
    </ol>
    <br/>
    5 - User Registration Procedure
    <ol type="a">
        <li>
            In order to insert new contents on the Network it is required to register to the Network under the conditions described herein. You warrant that the data provided are true, complete and current. You agree, in case of changes, to promptly update the information provided. In any case, MyCookin will not be responsible for non-use of services offered by the Network due to errors or inaccuracies in personal information that you provided us when registering.
        </li>
        <li>
            At the beginning of the registration process, the user must provide the name, surname, date of birth, email address, a username and a password to access the network services. Maintaining the confidentiality of the password is the user's responsibility. Therefore, the user will be liable for any activities associated with their username and password.
        </li>
        <li>
            All information provided by the user may be made accessible to other users, registered or not, of the portal.
        </li>
    </ol>
    <br/>
    6 - Limitation of liability
    <ol type="a">
        <li>
            You acknowledge and expressly agree that the use of the portal takes place at your sole and exclusive discretion. The services offered by the portal are provided "as is" and "as available" at the time of their use.
        </li>
        <li>
            It is expressly excluded the responsibility of MyCookin concerning any warranties, express or implied, including, but not limited to, warranties of merchantability or fitness for a particular purpose or quality of the Network’s contents. MyCookin does not warrant that any contents are accurate or free from error. We will not be liable for reliance placed by anyone on any contents on our Network.
        </li>
        <li>
            MyCookin does not guarantee the good functioning of the websites, applications and services provided. All the services may be interrupted without any notice.
        </li>
        <li>
            Any material downloaded or otherwise obtained from or through the Network is obtained at your sole and absolute discretion and at your own risk. The user is solely and exclusively responsible for any damages to their computer or for any losses of data caused by downloading such contents or materials or from having used the website, applications and related services.
        </li>
        <li>
            MyCookin will not be responsible in any way for any damages of any kind or nature resulting from improper or incorrect use of the websites, applications or services, unauthorized access or alteration of transmissions or user data, statements or conduct of any third parties. MyCookin will not be responsible for the contents submitted and uploaded by users or third parties and for the consequences of users’ conducts and actions. We do not warrant that links contained in our Network are reliable and you can visit any linked websites at your sole discretion and at your own risk.
        </li>
    </ol>
    <br/>
    7 - Indemnification
    <ol type="a">
        <li>
            You accept to indemnify and hold harmless MyCookin from any claims, including reasonable legal fees, that may arise from the content transmitted or sent by any users, from the use of services by the users, from the access to the services by the user, or from a breach of the rules governing their use, as a violation of third party rights.
        </li>
    </ol>
    <br/>
    8 - Privacy
    <ol type="a">
        <li>
            All the information and details you submit or upload on the network are stored and used in compliance with our Privacy Policy. You agree to such use and processing.
        </li>
    </ol>
    <br/>
    9 - Jurisdiction and Disputes
    <ol type="a">
        <li>
            This Terms and Conditions are governed by and written in compliance with the laws of England and Wales. Any disputes related to our services will be subject to the jurisdiction of the courts of England and Wales.
        </li>
    </ol>
</div>

<!--******************************* ES **********************************************-->

<div ng-show="es">
    1 - Application
    <ol type="a">
        <li>
            These Terms and Conditions apply to the provision of all services offered from MyCookin Ltd, a company registered in England and Wales under number 08917887 whose register office is at 24a, Mornington Avenue, London, W14 8UJ. The Terms and Conditions were originally written in English and in case of any conflicts between the English version and any other languages, the English version shall prevail.
            Definitions
        </li>
        <li>
            User – The person accessing to the Network and using its services.
        </li>
        <li>
            We/Us/Our – Mycookin Ltd, as described under Section 1.
        </li>
        <li>
            You/Your/Yours – The User, the person that uses our services and agrees to these Terms and Conditions.
        </li>
        <li>
            Service/Services – Any services, features, tools, contents and other materials contained in the Network.
        </li>
        <li>
            Website/s – www.mycookin.com and all the other domain and subdomain that redirect to it.
        </li>
        <li> Network – The system of people, contents and services that constitutes MyCookin, including all websites and applications.</li>
    </ol>
    <br/>
    2 - Subject
    <ol type="a">
        <li>
        These Terms and Conditions regulate the services supply and the relationship between MyCookin and every users and third parties, including all kinds of use, participation and activity that can be performed through any kinds of device.
        <li>
        By using any tools, services and features of the Network and when you register, you agree that you are 18 or older and accept in full these Terms and Conditions.
        <li>
            MyCookin aims to improve constantly and to offer a wider range of services in the future. Therefore, we may change these Terms and Conditions at any time and for all reasons. Your continued use of the network’s services will constitute acceptance of all changes. We may or may not ask you to acknowledge or accept any changes to the Terms and Conditions.
        </li>
    </ol>
    <br/>
    3 - Network’s contents and intellectual property rights
    <ol type="a">
        <li>
            All Network’s materials, including as examples, Mycookin logo, text, graphics, designs and other files, are the intellectual property of MyCookin or of its licensors. You may use these materials for personal, non-commercial purpose, only disclosing that they are intellectual property of MyCookin. This usage must not misrepresent or defame MyCookin. We may revoke the mentioned usage right at our sole discretion.
        </li>
        <li>
            You may use links to our websites and share its content. This limited right is granted as non-exclusive and subject to our discretionary decisions. The sharing and usage of the content must be fair, honest and in line with our Terms and Conditions, and does not give you any intellectual property rights.
        </li>
        <li>
            It is strictly prohibited to copy or publish the contents of the network, or parts of them, on other websites and other communication and media channels, unless you are explicitly authorised by MyCookin.
        </li>
        <li>
            You can insert new recipes and ingredients and upload new images, and comment and share existing contents. By submitting contents of any kinds you confirm that you are entitled to do that, by being the author or by having acquired concerning copyrights or other intellectual property rights. You are fully responsible to ensure that the information and other contents you upload or submit do not violate any copyrights or other intellectual properties of third parties.
        </li>
        <li>
            The upload and submission of contents of any kind and nature, including but not limited to text, suggestions, pictures, links and videos, involves the transfer free of charge in favour of MyCookin of a right to unrestricted, irrevocable, worldwide, non-exclusive, fully transferable right to use, copy, modify, publish and display any contents submitted on the Network. The user transfers free of charge every right to a commercial use of the content loaded in favour of MyCookin.
        </li>
        <li>
            The publication, modification and other usage of the contents you insert and upload will take place at our sole discretion, and can be removed and edited by us at any time without justification and without prior notice.
        </li>
        <li>
            MyCookin is not responsible for information transmitted or for any infringement of intellectual property rights of third parties or other users made through the portal. MyCookin does not exercise a preventive control on the contents uploaded by users.
        </li>
    </ol>
    <br/>
    4 - Usage of the Network and behaviour of the users
    <ol type="a">
        <li>
            The usage of the website is meant to be personal and you agree that you will NOT do any of the following:
            <ol type="i">
                <li>
                    Register for third parties;
                </li>
                <li>
                    Register more than one time;
                </li>
                <li>
                    Register with fake personal or contact details;
                </li>
                <li>
                    Use the website, the Network and their materials and contents for commercial or advertisement purposes.
                </li>
            </ol>
        </li>
        <li>
            You are personally responsible and liable for all the contents you will insert, upload or otherwise share using the Network’s facilities. It is prohibited to use the websites, the mobile applications and any other Network’s features and tools to do any of the following:
            <ol type="i">
                <li>
                    Insulting, defaming, harassing, or otherwise attacking other users, the network, the network’s, affiliates, any other third parties;
                </li>
                <li>
                    Publishing, sharing or otherwise divulging contents of any nature that can be considered unlawful, racist, sexist, hateful, discriminatory, pornographic, indecent, or otherwise objectionable, or encouraging any of these behaviours or contents;
                </li>
                <li>
                    Spread software viruses, spam, junk contents or encouraging to do so.
                </li>
            </ol>
        </li>
        <li>
            It is expressly forbidden to damage, interfere with or disrupt the access to the Network or its contents, or taking actions that might impair functionalities or interfere with other users' access to the Network or its content.
        </li>
        <li>
            MyCookin will take any actions that will be considered appropriate as consequence to any of the events described under the Sections 18 and 19, including the deletion of the account.
        </li>
        <li>
            If you believe that any materials uploaded by another user on the portal is violating the requirements contained in these Terms and Conditions, please contact us by filling in the form "Contact Us" on the site indicating the type of violation, the username of the person liable as well as the portal area where the offense occurred.
        </li>
    </ol>
    <br/>
    5 - User Registration Procedure
    <ol type="a">
        <li>
            In order to insert new contents on the Network it is required to register to the Network under the conditions described herein. You warrant that the data provided are true, complete and current. You agree, in case of changes, to promptly update the information provided. In any case, MyCookin will not be responsible for non-use of services offered by the Network due to errors or inaccuracies in personal information that you provided us when registering.
        </li>
        <li>
            At the beginning of the registration process, the user must provide the name, surname, date of birth, email address, a username and a password to access the network services. Maintaining the confidentiality of the password is the user's responsibility. Therefore, the user will be liable for any activities associated with their username and password.
        </li>
        <li>
            All information provided by the user may be made accessible to other users, registered or not, of the portal.
        </li>
    </ol>
    <br/>
    6 - Limitation of liability
    <ol type="a">
        <li>
            You acknowledge and expressly agree that the use of the portal takes place at your sole and exclusive discretion. The services offered by the portal are provided "as is" and "as available" at the time of their use.
        </li>
        <li>
            It is expressly excluded the responsibility of MyCookin concerning any warranties, express or implied, including, but not limited to, warranties of merchantability or fitness for a particular purpose or quality of the Network’s contents. MyCookin does not warrant that any contents are accurate or free from error. We will not be liable for reliance placed by anyone on any contents on our Network.
        </li>
        <li>
            MyCookin does not guarantee the good functioning of the websites, applications and services provided. All the services may be interrupted without any notice.
        </li>
        <li>
            Any material downloaded or otherwise obtained from or through the Network is obtained at your sole and absolute discretion and at your own risk. The user is solely and exclusively responsible for any damages to their computer or for any losses of data caused by downloading such contents or materials or from having used the website, applications and related services.
        </li>
        <li>
            MyCookin will not be responsible in any way for any damages of any kind or nature resulting from improper or incorrect use of the websites, applications or services, unauthorized access or alteration of transmissions or user data, statements or conduct of any third parties. MyCookin will not be responsible for the contents submitted and uploaded by users or third parties and for the consequences of users’ conducts and actions. We do not warrant that links contained in our Network are reliable and you can visit any linked websites at your sole discretion and at your own risk.
        </li>
    </ol>
    <br/>
    7 - Indemnification
    <ol type="a">
        <li>
            You accept to indemnify and hold harmless MyCookin from any claims, including reasonable legal fees, that may arise from the content transmitted or sent by any users, from the use of services by the users, from the access to the services by the user, or from a breach of the rules governing their use, as a violation of third party rights.
        </li>
    </ol>
    <br/>
    8 - Privacy
    <ol type="a">
        <li>
            All the information and details you submit or upload on the network are stored and used in compliance with our Privacy Policy. You agree to such use and processing.
        </li>
    </ol>
    <br/>
    9 - Jurisdiction and Disputes
    <ol type="a">
        <li>
            This Terms and Conditions are governed by and written in compliance with the laws of England and Wales. Any disputes related to our services will be subject to the jurisdiction of the courts of England and Wales.
        </li>
    </ol>
</div>
</div>