<div class="top-area show-onload">
    <div class="bg-holder full">

        <div class="bg-mask"></div>
        <div class="bg-img" style="background-image: url(/assets/img/aglio-video.png);"></div>
        <video class="bg-video hidden-sm hidden-xs" preload="auto" autoplay="true" loop="loop" muted="muted"
               poster="/assets/img/noci.png">
            <source src="/assets/media/noci.webm" type="video/webm"/>
            <source src="/assets/media/noci.mp4" type="video/mp4"/>
        </video>

        <div class="bg-content">

            <div class="container">
                <h1 class="page-title">Contact Us</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <form class="mt30">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-icon-left">
                                        <i class="fa fa-user input-icon input-icon-show resetTop"></i>
                                        <input class="form-control" placeholder="Name" type="text"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-icon-left">
                                        <i class="fa fa-envelope input-icon input-icon-show resetTop"></i>
                                        <input class="form-control" placeholder="Email" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-icon-left">
                                <i class="fa fa-envelope input-icon input-icon-show resetTop"></i>
                                <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Send Message"/>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <aside class="sidebar-right">
                            <ul class="address-list list">
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                                <li>
                                    <h5>Email</h5><a href="#">info@mycookin.com</a>
                                </li>
                                <li>
                                    <h5>Address</h5><address>MyCookin Ltd<br/>24a Mornington Avenue<br/>London, W14 8UJ<br/>United Kingdom<br/></address>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="gap"></div>
            </div>
        </div>
    </div>
</div>