<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DBUsersProfileConnectionString" connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBUsersProfile;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBErrorsAndMessagesConnectionString" connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBErrorsAndMessages;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBRecipesConnectionString" connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBRecipes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBMediaConnectionString" connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBMedia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBAuditConnectionString" connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBAudit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="dbcitiesConnectionString" connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBCities;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBUsersBoardConnectionString" connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBUsersBoard;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBStatisticsEntities" connectionString="metadata=res://*/Statistics.Statistics.csdl|res://*/Statistics.Statistics.ssdl|res://*/Statistics.Statistics.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBStatistics;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBUsersBoardNotificationsEntities" connectionString="metadata=res://*/UserBoard.Notifications.csdl|res://*/UserBoard.Notifications.ssdl|res://*/UserBoard.Notifications.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBUsersBoard;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBUserNotificationsEntity" connectionString="metadata=res://*/User.UserNotifications.csdl|res://*/User.UserNotifications.ssdl|res://*/User.UserNotifications.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISSPC03\SQL2012DEV;initial catalog=DBUsersProfile;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBMessageChatEntity" connectionString="metadata=res://*/Message.Messages.csdl|res://*/Message.Messages.ssdl|res://*/Message.Messages.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISSPC03\SQL2012DEV;initial catalog=DBMessageChat;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ContactEntities" connectionString="metadata=res://*/Contact.Contact.csdl|res://*/Contact.Contact.ssdl|res://*/Contact.Contact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISSPC03\SQL2012DEV;initial catalog=DBErrorsAndMessages;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MyCookin.DAL.Properties.Settings.dbcitiesConnectionString"
      connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBCities;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyCookin.DAL.Properties.Settings.DBMediaConnectionString1"
      connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBMedia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyCookin.DAL.Properties.Settings.DBUsersProfileConnectionString"
      connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBUsersProfile;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyCookin.DAL.Properties.Settings.DBErrorsAndMessagesConnectionString"
      connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBErrorsAndMessages;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyCookin.DAL.Properties.Settings.DBRecipesConnectionString"
      connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBRecipes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyCookin.DAL.Properties.Settings.DBMediaConnectionString"
      connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBMedia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyCookin.DAL.Properties.Settings.DBAuditConnectionString"
      connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBAudit;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="MyCookin.DAL.Properties.Settings.DBUsersBoardConnectionString"
      connectionString="Data Source=ISSPC03\SQL2012DEV;Initial Catalog=DBUsersBoard;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>