.pnlContent
{
   display:block;
    position:absolute;
    top:140px;
    width:910px;
	border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius:5px;
	vertical-align: middle;
	z-index:11;
 }
.pnlBackground{
	display:inline-block;
	position:relative;
	margin: 0px auto;
    height:1550px; 
	width:910px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	vertical-align: middle;
	line-height: 300px; 
	z-index:0;
	opacity:0.95;
	filter:alpha(opacity=95); /* For IE8 and earlier */
 }
.pnlMain{
	width: 910px;
	margin: 0 auto;
 }
.bgHead
 {
     display:block;
     width:100%;
     height:128px;
 }
 .bgHeadBottom
 {
     position:absolute;
     width:100%;
     margin-top:24px;
     height:128px;
     background-color:#fff;
     z-index:-1;
 }
 .bgHeadLeft
 {
     float:left;
     height:100%;
     width:333px;
     background-image: url(/Images/Backgrounds/bg_row_sheetTopLeft.png); 
 }
 .bgHeadRight
 {
     float:right;
     height:100%;
     width:349px;
     background-image: url(/Images/Backgrounds/bg_row_sheetTopRight.png);
 }
  .bgCenter
 {
     display:block;
     width:100%;
     height:100%;
     background-color:#fff;
 }
 .bgCenterLeft
 {
     float:left;
     height:100%;
     width:333px;
     background-image: url(/Images/Backgrounds/bg_row_sheetCenterLeft.png);
 }
 .bgCenterRight
 {
     float:right;
     height:100%;
     width:349px;
     background-image: url(/Images/Backgrounds/bg_row_sheetCenterRight.png);
 }
 #boxFilterOptions
 {
     display:block;
     width:800px;
     margin-left:55px;
     margin-bottom:30px;
 }
 #boxDishType
 {
     display:inline-block;
     margin-left:50px;
 }
 .boxRecipeList
 {
     display:inline-block;
     width:250px;
     height:90px;
     padding:5px;
     margin:5px;
 }
 #RecipesListContainer
 {
     display:block;
     margin-left:45px;
     margin-right:40px;
     overflow:hidden;
 }
 .boxIntRecipeImage
 {
     float:left;
     width:90px;
     margin:5px;
 }
 .imgRecipeInList
 {
     width:80px;
     height:80px;
     border-style:solid;
     border-width:3px;
     border-color:#BD141B;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
	 border-radius: 10px;
 }
 .boxIntRecipeInfo
 {
     float:left;
 }
  .boxIntRecipeName, .boxIntRecipeOwner
 {
     width:150px;
     margin-top:5px;
     margin-bottom:5px;
 }
 .spanRecipeName
 {
     font-size: 18px;
     font-family: Verdana; 
     color:#70644F;
 }
 .spanRecipeOwner
 {
     font-size: 10px;
     font-family: Verdana; 
     color:#70644F;
 }
 A:link,A:hover,A:visited
 {
     text-decoration:none;
 }
 #boxLoadButton
 {
     display:block;
     margin-top:10px;
     width:100px;
     margin-left:auto;
     margin-right:auto;
 }
 #boxLoading
 {
     visibility:hidden;
     display:block;
     margin-top:10px;
     width:230px;
     margin-left:auto;
     margin-right:auto;
 }
 .dd-selected
 {
     height:50px;
     padding:5px !important;
 }
 .dd-option
 {
    padding:2px !important;
 }