.AlignMiddle
{
    vertical-align:middle;    
}
    
.pnlContentMain 
{ 

}

.pnlUserBoard {
    margin-left:auto;
	margin-right:auto;
	width:826px;
}
.pnlWrapperMainContent
{
}
#pnlStatusBar, #pnlPostOnFriendUserBoard 
{
    height:45px; 
    margin-left:auto;
	margin-right:auto;
	width:826px;
    
}
.pnlLoadMore
{
    margin-top: 15px;
    margin-bottom:15px;
    text-align:center;
}
.pnlInfo
{
    display:block;  
    height:200px; 
    border-style:solid;
    border-width:1px;
    border-radius: 15px;
    -moz-border-radius: 15px;
	-webkit-border-radius:15px;
    background:#FFF;
    margin-bottom:10px;
    padding:5px;
	width:800px;
	border-color:#70644F;
	background-color:#fff;
    box-shadow: 0px 0px 15px #888888;
    margin-left:auto;
    margin-right:auto;
}
#pnlUserInformationsLeft 
{
    float:left; 
    width:470px;  
}

#pnlUserInformationsRight 
{
    float:right;
}
#ProfileImage
{
    width:150px; 
    height:150px; 
    margin:10px;  
    vertical-align:middle;
    border-style:solid;
    border-width:1px;
    border-color:#F15723;
    border-radius: 25px;
    -moz-border-radius: 25px;
	-webkit-border-radius:25px;
}
.pnlUserTextInfo
{
    margin-top:15px;  
}
.lblUserTextInfo
{
    display:block;
    line-height:24px;
}
.lblUserTextInfoNum
{
    line-height:24px;
    padding:2px;
    background-color:#F8931D;
    box-shadow: 1px 1px 5px #CCC;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius:3px;
    font-family:Verdana;
    font-size:12px;
    color:#FFF;
}
.lblUserTextInfoLink:LINK, .lblUserTextInfoLink:VISITED
{
    font-family:Verdana;
    font-size:14px;
    color:#70644F;
}
.hlRelatedObject:LINK, .hlRelatedObject:VISITED
{
    font-family:Verdana;
    font-size:18px;
    color:#BD141B;
}
.hlRelatedObject:HOVER
{
    font-family:Verdana;
    font-size:18px;
    color:#F15723;
}
.pnlUserInformationsFollow
{
    display:block;  
    height:200px; 
    border-style:solid;
    border-width:1px;
    border-radius: 15px;
    -moz-border-radius: 15px;
	-webkit-border-radius:15px;
    background:#FFF;
    margin-bottom:10px;
    padding:5px;
	width:800px;
	border-color:#70644F;
	background-color:#fff;
    box-shadow: 0px 0px 15px #888888;
    margin-left:auto;
    margin-right:auto;
}
.pnlFriendsContainer
{
    display:block;  
    border-style:solid;
    border-width:1px;
    border-radius: 15px;
    -moz-border-radius: 15px;
	-webkit-border-radius:15px;
    background:#FFF;
    margin-bottom:10px;
    padding:5px;
	width:800px;
	border-color:#70644F;
	background-color:#fff;
    box-shadow: 0px 0px 15px #888888;
    margin-left:auto;
    margin-right:auto;
}
.FriendPic
{
    width:150px; 
    height:150px; 
    margin:10px;  
    vertical-align:middle;
    border-style:solid;
    border-width:3px;
    border-color:#22AA20;
    -moz-border-radius: 25px;
    -webkit-border-radius:25px;
	border-radius: 25px;
}
.pnlLoading
{
    float:right;
    height:30px;
} 
.pnlImageAndDescription
{
    padding-left:65px;
    display:block;
}
.pnlLeft
{
    float:left;
    width:25%;  
    background: white;  

}
.RelatedObjectImage
{
    display:inline-block;  
    border-style:dashed;
    border-width:3px;
    border-color:#70644F;
    -moz-border-radius: 25px;
    -webkit-border-radius:25px;
	border-radius: 25px; 
}

.imgUser
{
    float:left;
    margin: 0 10px;
    border-style:solid;
    border-width:1px;
    border-color:#F15723;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
	border-radius: 10px;
}
.imgUserNoPic
{
    float:left;
    margin: 0 10px;
}
.imgGraffetta
{
    position:relative;
    height:55px;
    top:-160px;
    left:-190px;
}
.pnlObjDesc
{
    float: left; 
    width: 440px; 
}
.imgFollow
{
    margin: 0 10px;
    margin-bottom:5px;
    border-style:solid;
    border-width:3px;
    border-color:#22AA20;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
	border-radius: 10px;
}
.ContainerFriendPic
{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin:15px;
}
.lblName
{
    display: inline-block;
    margin-top: 30px;
}
.lnkRecipeBook:LINK,.lnkRecipeBook:VISITED
{
    display:inline-block;
    margin-top:5px;
    font-family:Verdana;
    font-size:16px;
    color:#856570;
}
.lnkRecipeBook:HOVER
{
    display:inline-block;
    margin-top:5px;
    font-family:Verdana;
    font-size:16px;
    color:#F15723;
}
.imgRecipeBook
{
    display:inline-block;
    width:30px;
    height:30px;
    margin-right:5px;
}
.pnlUserInfo
{
    display:block;
    margin-bottom:5px;
    float:none;
}
.lnkPersonalSite:LINK,.lnkPersonalSite:VISITED, .lnkPersonalSite:HOVER
{
    font-family:Verdana;
    font-size:12px;
    color:#70644F;
}
.pnlLeftContainer
{
    position:absolute;
    width:230px;
    height:650px;
    top:83px;
    right: 50%;
    margin-right: 420px;
    z-index:0;
    opacity: 0.95;
    filter: alpha(opacity=95);
}
.pnlLeftContainerInternal1
{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: #FFF;
    margin-bottom: 20px;
    width:230px;
    height:200px;
    border-color: #70644f;
    background-color: #fff;
    box-shadow: 0 0 10px #888;
    overflow:hidden;
}
.pnlLeftContainerInternal2
{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: #FFF;
    margin-bottom: 20px;
    width:230px;
    height:330px;
    border-color: #70644f;
    background-color: #fff;
    box-shadow: 0 0 10px #888;
    overflow:hidden;
}
.pnlRightContainer
{
    position:absolute;
    width:230px;
    height:650px;
    top:83px;
    left:50%;
    margin-left:420px;
    z-index:0;
    opacity: 0.95;
    filter: alpha(opacity=95);
}
.pnlRightContainerInternal1
{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: #FFF;
    margin-bottom: 20px;
    width:230px;
    height:200px;
    border-color: #70644f;
    background-color: #fff;
    box-shadow: 0 0 10px #888;
    overflow:hidden;
}
.pnlRightContainerInternal2
{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: #FFF;
    margin-bottom: 20px;
    width:230px;
    height:330px;
    border-color: #70644f;
    background-color: #fff;
    box-shadow: 0 0 10px #888;
    overflow:hidden;
}
.lblContainerTitles
{
     display:block;
     width:230px;
     text-align:center;
     font-size: 18px;
     font-family: Verdana; 
     color:#F15723;
     line-height:20px;
}
#boxSimilarRecipes
{
    margin:5px;
    display:block;
}
.boxIntRecipeImage
 {
     float:left;
     width:55px;
     margin-right:5px;
 }
 .imgRecipeInList
 {
     width:50px;
     height:50px;
     border-style:solid;
     border-width:3px;
     border-color:#BD141B;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
	 border-radius: 10px;
 }
 .boxIntRecipeInfo
 {
     float:left;
 }
  .boxIntRecipeName
 {
     width:155px;
     height:55px;
     margin-top:5px;
     margin-bottom:10px;
     overflow:hidden;
 }
.boxIntRecipeOwner
{
    display:none;
}
 .spanRecipeName
 {
     font-size: 18px;
     font-family: Verdana; 
     color:#70644F;
 }
 .spanRecipeOwner
 {
     font-size: 10px;
     font-family: Verdana; 
     color:#70644F;
 }
 A:link,A:hover,A:visited
 {
     text-decoration:none;
 }




 #boxUsers
{
    margin:5px;
    display:block;
}
.boxIntUserImage
 {
     float: left;
     width:55px;
     margin-right:5px;
 }
 .imgUserInList
 {
     width:50px;
     height:50px;
     border-style:solid;
     border-width:3px;
     border-color:#22AA20;
     -moz-border-radius: 10px;
     -webkit-border-radius:10px;
	 border-radius: 10px;
 }
 .boxIntUserInfo
 {
     float:left;
 }
  .boxIntUserName
 {
     width:155px;
     height:55px;
     margin-top:5px;
     margin-bottom:10px;
     overflow:hidden;
 }
 .spanUserName
 {
     font-size: 18px;
     font-family: Verdana; 
     color:#70644F;
 }